html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
}

.form-group {
  margin: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: .5rem;
  border-color: #ddd;
  border-radius: .5rem;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid {
  border: 2px solid #f00;
}

input[type="text"]:valid,
input[type="password"]:valid,
input[type="email"]:valid {
  border: 2px solid #0f0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  background: #EEA;
}